<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Dev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.905628334096-josqr0t0a1umdcbf8mn12gdqo1v91rgg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Live</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.534745322381-o6i2eh5amtrs9fer3843lsftqtek55nd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Live</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.534745322381-s7idiq3locrpo5j502jg7fc82dproupb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Dev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.905628334096-vfucf5p0fi05jbjp04rb3ef23ldp2lfm</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
